# Python/Node
**/__pycache__/
**/node_modules/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE settings
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.temp

# Test & coverage
htmlcov/
.coverage
*.cover
*.py,cover
.pytest_cache/

# Build
build/
dist/
*.egg-info/
.eggs/

# Env vars
.env
*.env

# 文件
evm_scavenger/conf/used_chains.json
debank_checker/balances.json
rpc_endpoint_finder/result.json
init_poetry.sh
evm_scavenger/conf/match_chains.py